body {
  background-color: #07090f;
  font-family: SpaceGrotesk-Regular, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 130%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: SpaceGrotesk-SemiBold, sans-serif;
  font-size: 64px;
  line-height: 120%;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 140%;
  font-weight: 400;
}

.secction.secction_props_hero {
  background-image: url('../images/hero-image.png');
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.secction.secction_props_header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  max-width: 1264px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.container.container_props_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-bottom: 96px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header__logo {
  width: 200px;
  height: 40px;
  background-image: url('../images/logo.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__cta {
  max-width: 767px;
}

.hero__cta__headline {
  margin-top: 0px;
  margin-bottom: 24px;
}

.hero__cta__subline {
  max-width: 723px;
  margin-top: 0px;
  margin-bottom: 32px;
}

.hero__cta__soc-icons-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 64px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__cta__soc-icon {
  width: 64px;
  height: 64px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 100%;
  background-color: #0059ff;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.hero__cta__soc-icon.hero__cta__soc-icon__telegram {
  background-image: url('../images/tg.svg');
}

.hero__cta__soc-icon.hero__cta__soc-icon__twitter {
  background-image: url('../images/Twitter.svg');
}

@media (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
  h4 {
    font-size: 24px;
  }
  .secction.secction_props_hero {
    background-position: 49% 0%;
    background-size: cover;
  }
  .header__logo {
    width: 160px;
    height: 32px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h4 {
    font-size: 16px;
    line-height: 150%;
  }
  .secction.secction_props_hero {
    background-position: 58% 0%;
  }
  .hero {
    padding-bottom: 48px;
  }
}

@media (max-width: 479px) {
  .secction.secction_props_hero {
    background-position: 45% 0%;
  }
}

@font-face {
  font-family: 'SpaceGrotesk-SemiBold';
  src: url('../fonts/SpaceGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk-Regular';
  src: url('../fonts/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}