@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-Light.woff') format('woff'),
  url('../fonts/SpaceGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-Regular.woff') format('woff'),
  url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-Medium.woff') format('woff'),
  url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-SemiBold.woff') format('woff'),
  url('../fonts/SpaceGrotesk-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-Bold.woff') format('woff'),
  url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

li {
  list-style-type: none;
}

h2 {
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 56px;
  font-weight: 600;
}

h3 {
  padding-bottom: 48px;
  font-size: 28px;
  color: #858D97;
  letter-spacing: 0;
  line-height: 36px;
  font-weight: 400;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 600;
}

p {
  font-size: 16px;
  color: #858D97;
  letter-spacing: 0;
  line-height: 24px;
}

.section {
  background-color: #07090F;
}

.section-bg {
  background-color: #0F131E;
}

.row-what {
  & > div {
    padding-bottom: 48px;
    padding-right: 55px;
  }
}

.row-start {
  padding-top: 18px;
}

.download-item {
  width: 20%;
  flex: none;
  padding: 8px;
}

.download-link {
  background-color: #07090F;
  text-align: center;
  padding: 15px 0;
  display: block;
  width: 100%;
  height: 114px;
  border-radius: 6px;
  img {
    padding-bottom: 16px;
    display: block;
    margin: 0 auto;
  }
  &.disabled {
    opacity: 0.4;
    user-select: none;
    cursor: default;

  }
  &:hover {
    opacity: 0.8;
  }
}

.wallets-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  .btn {
    padding-left: 0;
    padding-right: 0;
    min-width: 204px;
  }
}

.wallets-web__text {
  padding-left: 32px;
}

.section-explorer {
  text-align: center;
  padding-bottom: 0;
}

.link {
  color: #fff;
  text-decoration: underline;
}

.table > tbody > tr > th {
  font-size: 16px;
  color: #858D97;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
}

.table > tbody > tr > td {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
}

.table {
  border-bottom: 0.0625rem solid #3A3E45;
}

.table + .table {
  margin-top: 48px;
}

.table {
  & > thead {
    & > tr {
      & > th {
        text-transform: initial;
        font-weight: 400;
        font-size: 16px;
        color: #858D97;
        line-height: 24px;
        border-color: #3A3E45;
      }
      & > td {
        border-color: #3A3E45;
      }
    }
  }
  & > tbody {
    & > tr {
      & > th {
        border-color: #3A3E45;
      }
      & > td {
        border-color: #3A3E45;
        line-height: 35px;
      }
    }
  }
}

.table-sm {
  text-align: right;
  & > tbody{
    & > tr {
      & > td {
        line-height: 23px;
      }
    }
  }
}
.section-roadmap{
  overflow: hidden;
}
.roadmap__item{
  height: 260px;
  background: linear-gradient(to right, #0059FF 0%,#0059FF 1px,transparent 1px,transparent 100%);
  p{
    background-color: #0F131E;
    margin: 0;
  }
  .text-white{
    padding-bottom: 16px;
  }
}
.roadmap__list{
  position: relative;
  &:before{
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 10000px;
    height: 2px;
    background-color: #0059FF;
    display: block;
    content: '';
  }
}
.section-communities{
  text-align: center;
}

.soc__list{
  display: flex;
  justify-content: center;
}
.soc__item{
  width: 128px;
  height: 128px;
  border-radius: 100%;
  background-color: #0F131E;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
  &:hover{
    opacity: 0.7;
  }
}
.nav-link.btn-simple{
  min-width: 118px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: -2px;
}
.top-center{
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 84px;
}
.btn{
  font-weight: 600;
}
.btn-simple.btn-lg{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}




