@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-Light.woff') format('woff'),
  url('../fonts/SpaceGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-Regular.woff') format('woff'),
  url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-Medium.woff') format('woff'),
  url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-SemiBold.woff') format('woff'),
  url('../fonts/SpaceGrotesk-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk-Bold.woff') format('woff'),
  url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

li {
  list-style-type: none;
}

h2 {
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 56px;
  font-weight: 600;
  margin-bottom: 48px;
}

h3 {
  margin-bottom: 48px;
  font-size: 28px;
  color: #858D97;
  letter-spacing: 0;
  line-height: 36px;
  font-weight: 400;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 600;
}

p {
  font-size: 16px;
  color: #858D97;
  letter-spacing: 0;
  line-height: 24px;
}

.title-primary {
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.section {
  background-color: #07090F;
}

.section-bg {
  background-color: #0F131E;
}

.row-what {
  & > div {
    padding-bottom: 48px;
    padding-right: 55px;
  }
}

.row-start {
  img {
    padding: 16px 0;
    height: 127px;
  }
  & > div {
    padding-top: 18px;
  }
}

.download-link {
  padding: 12px 0;
  width: 100%;
  display: flex;
  align-items: center;
  img {
    padding-right: 18px;
  }
  &.disabled {
    opacity: 0.4;
    user-select: none;
    cursor: default;

  }
  &:not(.disabled):hover {
    opacity: 0.8;
  }
}

.section-explorer {
  text-align: center;
  padding-bottom: 0;
}

.wallets-web {
  padding-top: 48px;
}

.link {
  color: #fff;
  text-decoration: underline;
}

.bg-wallets {
  width: 80%;
  margin-left: 10%;
  position: relative;
  bottom: -80px;
}

@media(max-width: 992px) {
  .bg-wallets {
    width: 304px;
    margin-left: 10%;
    position: absolute;
    bottom: -80px;
    right: 0;
    max-width: initial;
  }
}

.row-wallet {
  position: relative;
  align-items: flex-end;

}

.table > tbody > tr > th {
  font-size: 16px;
  color: #858D97;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
}

.table > tbody > tr > td {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
}

.table {
  border-bottom: 0.0625rem solid #3A3E45;
}

.table + .table {
  margin-top: 48px;
}

.table {
  & > thead {
    & > tr {
      & > th {
        text-transform: initial;
        font-weight: 400;
        font-size: 16px;
        color: #858D97;
        line-height: 24px;
        border-color: #3A3E45;
      }
      & > td {
        border-color: #3A3E45;
      }
    }
  }
  & > tbody {
    & > tr {
      & > th {
        border-color: #3A3E45;
      }
      & > td {
        border-color: #3A3E45;
        line-height: 35px;
      }
    }
  }
}

.table-sm {
  text-align: right;
  & > tbody {
    & > tr {
      & > td {
        line-height: 23px;
      }
    }
  }
}

.section-roadmap {
  overflow: hidden;
}

.roadmap__item {
  height: 260px;
  background: linear-gradient(to right, #0059FF 0%, #0059FF 1px, transparent 1px, transparent 100%);
  p {
    background-color: #07090F;
    margin: 0;
  }
  .text-white {
    padding-bottom: 16px;
  }
}

.roadmap__list {
  position: relative;
  &:before {
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 10000px;
    height: 2px;
    background-color: #0059FF;
    display: block;
    content: '';
  }
}

.section-communities {
  text-align: center;
}

.soc__list {
  display: flex;
  justify-content: center;
}

.soc__item {
  min-width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #07090F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
  cursor: pointer;
  img {
    width: 32px;
    height: 32px;
  }
  &:hover {
    opacity: 0.7;
  }
}

.nav-link.btn-simple {
  min-width: 118px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: -2px;
}

.top-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.btn {
  font-weight: 600;
}

.btn-simple.btn-lg {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.section--how-to-start {
  min-height: 640px;
  display: flex;
  align-items: center;
}

.footer {
  background-color: #07090F;
  padding-top: 80px;
  padding-bottom: 80px;
  .nav-item {
    display: block;
    width: 100%;
    font-size: 20px;
    color: #858D97;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 600;
  }
  .nav-link {
    padding-left: 0;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
  }
}

.footer__bottom {
  border-top: 1px solid #979797;
  margin-top: 40px;
  padding-top: 26px;
  a {
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 48px;
  }

}

@media(max-width: 767px) {
  .soc__item {
    margin: 0 12px;
  }
  .main_bg {
    padding-top: 24px;
  }
  .bg-wallets {
    width: 174px;
  }
  .roadmap__item {
    height: auto;
    padding-bottom: 20px;
    .text-white {
      padding-bottom: 0;
    }
  }
  .col-md-3 .roadmap__item {
    padding-bottom: 0;
  }
  .roadmap__list:before {
    background-color: transparent;
  }
  .footer {
    .nav {
      padding-top: 24px;
    }
  }
}

@media(max-width: 575px) {
  .soc__item {
    min-width: 32px;
    height: 32px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .col-xs-12 {
    width: 100%;
    max-width: 100%;
    flex: none;
    text-align: left !important;
  }
  .footer__bottom a {
    margin: 0;
    margin-right: 16px;
  }
  .roadmap__list > div {
    width: 100%;
    flex: none;
  }
  .section {
    padding: 40px 0;
  }
  .btn-xs {
    padding: 16px 14px;
  }
}

.close__button {
  width: 22px;
  height: 1px;
  position: relative;
  background-color: #fff;
  display: block;
  content: '';
  transform: rotate(-45deg);
  &:after {
    width: 22px;
    height: 1px;
    display: block;
    content: '';
    position: relative;
    transform: rotate(90deg);
    background-color: #fff;
  }
}
svg{

  max-width: 100%;
}
.svg-explorer{
  path:not(.pJXFZasf_5){
    fill:none;
    stroke:#0059FF;
  }
}